In [1]:
from pymongo import MongoClient
import pandas as pd
# pprint é uma biblioteca para tornar mais amigável a saída no console
from pprint import pprint
 

client = MongoClient()

#conectar a um bd local
client = MongoClient('mongodb+srv://TCC:TCCB3@cluster0.tl5lj.mongodb.net/test')

#Acessar a um banco de dados:
banco = client['TCC_B3']

#Acessar a uma coleção em específico:
dados_tcc = banco['TCC_B3']

#cursor = dados_tcc.find("")
df = pd.DataFrame(list(dados_tcc.find()))

df['ano_mes'] = df["data_pregao"].str.slice(0,6)
print ('coluna ano_mes adicionada com valor')

df['mes'] = df["data_pregao"].str.slice(4,6)
print ('coluna mês adicionada com valor')

df['chave'] = df["ano_mes"] + "_" + df["semana"].astype(str) + "_" + df["codigo_negociacao"]
print ('cria coluna para relacionamento')

print('ini agrupamento')
idxmax = df.groupby(['ano_mes', 'semana'])['data_pregao'].transform(max) == df['data_pregao']
idxmin = df.groupby(['ano_mes', 'semana'])['data_pregao'].transform(min) == df['data_pregao']

print('finalizou agrupamento')

df_min = df[idxmin]
df_max = df[idxmax]
df_min = df_min.drop(columns=['preco_fechamento'])
df_min = df_min.drop(columns=['data_pregao'])
df_max_new = df_max[['chave','data_pregao','preco_fechamento']] 
df_final = pd.merge(df_min, df_max_new, on = 'chave')
print("finalizou merge min/max")

df_filtro = df_final.query("preco_fechamento > preco_abertura")

dados_anali = pd.DataFrame({'qtde' : df_filtro.groupby( [ "codigo_negociacao", "nome_empresa", "mes", "semana"] ).size()}).reset_index()

maiores_20 = dados_anali.sort_values(by=['qtde'], ascending=False).head(20)
maiores_20

coluna ano_mes adicionada com valor
coluna mês adicionada com valor
cria coluna para relacionamento
ini agrupamento
finalizou agrupamento
finalizou merge min/max

      codigo_negociacao  nome_empresa mes  semana  qtde
8290              CSMG3        COPASA  02       3    10
14225             HGTX3    CIA HERING  03       2    10
18824             MRVE3           MRV  10       1    10
25086            SULA11   SUL AMERICA  02       3    10
5065              BRSR6      BANRISUL  07       3    10
17738             MDIA3  M.DIASBRANCO  10       1    10
15574             ITUB4  ITAUUNIBANCO  07       4     9
5682              CARD3  CSU CARDSYST  06       3     9
15463             ITSA4        ITAUSA  09       3     9
14689             IDVL4      INDUSVAL  01       4     9
16560             LAME3  LOJAS AMERIC  04       1     9
29252             WEGE3           WEG  05       2     9
4769              BRKM3       BRASKEM  08       5     9
4356              BRAP4     BRADESPAR  12       4     9
10492             ELET6    ELETROBRAS  04       4     9
6454              CESP6          CESP  07       2     9
20774             PMAM3  PARANAPANEMA  07       2     9
23695             SBSP3        SABESP  04       3     9
10520             ELET6    ELETROBRAS  10       3     9
22640             RENT3      LOCALIZA  11       3     9

In [142]:
df_hgtx = df_final.query("codigo_negociacao == 'HGTX3' and mes == '03' and semana == 2")
df_hgtx

,_id,codigo_negociacao,nome_empresa,preco_abertura,semana,ano_mes,mes,chave,data_pregao,preco_fechamento
2877,HGTX3_20100308,HGTX3,CIA HERING,0000000003330,2,201003,03,201003_2_HGTX3,20100312,0000000003465
20780,HGTX3_20110309,HGTX3,CIA HERING,0000000002640,2,201103,03,201103_2_HGTX3,20110311,0000000002788
38850,HGTX3_20120305,HGTX3,CIA HERING,0000000004643,2,201203,03,201203_2_HGTX3,20120309,0000000004872
55527,HGTX3_20130304,HGTX3,CIA HERING,0000000003909,2,201303,03,201303_2_HGTX3,20130308,0000000003980
71800,HGTX3_20140310,HGTX3,CIA HERING,0000000002537,2,201403,03,201403_2_HGTX3,20140314,0000000002608
87817,HGTX3_20150309,HGTX3,CIA HERING,0000000001660,2,201503,03,201503_2_HGTX3,20150313,0000000001670
104002,HGTX3_20160307,HGTX3,CIA HERING,0000000001511,2,201603,03,201603_2_HGTX3,20160311,0000000001555
120516,HGTX3_20170306,HGTX3,CIA HERING,0000000001745,2,201703,03,201703_2_HGTX3,20170310,0000000001785
138490,HGTX3_20180305,HGTX3,CIA HERING,0000000002254,2,201803,03,201803_2_HGTX3,20180309,0000000002284
157241,HGTX3_20190306,HGTX3,CIA HERING,0000000003049,2,201903,03,201903_2_HGTX3,20190308,0000000003125

In [ ]:
maiores_50 = dados_anali.sort_values(by=['qtde'], ascending=False).head(50)
maiores_50

In [145]:
qtde_para_estudo = dados_anali.query("qtde >= 8")
qtde_para_estudo.shape

(342, 5)

In [196]:
dados_anali.query ("mes == '01' and semana == 1").sort_values(by=['qtde'], ascending=False).head(20)

      codigo_negociacao  nome_empresa mes  semana  qtde
28163             USIM3      USIMINAS  01       1     8
12857             GGBR3        GERDAU  01       1     7
8343              CSNA3  SID NACIONAL  01       1     7
16754             LEVE3    METAL LEVE  01       1     7
2307              BBDC3      BRADESCO  01       1     7
13136             GOAU4    GERDAU MET  01       1     7
21020             POMO4     MARCOPOLO  01       1     7
14063             HBOR3        HELBOR  01       1     7
24190             SHOW3  TIME FOR FUN  01       1     7
15857             JHSF3     JHSF PART  01       1     7
12916             GGBR4        GERDAU  01       1     7
4238              BRAP3     BRADESPAR  01       1     7
22588             RENT3      LOCALIZA  01       1     7
11623             EZTC3         EZTEC  01       1     7
29231             WEGE3           WEG  01       1     7
22972             ROMI3     INDS ROMI  01       1     6
13855             GUAR4    GUARARAPES  01       1     6
22129             RAPT4   RANDON PART  01       1     6
15421             ITSA4        ITAUSA  01       1     6
2367              BBDC4      BRADESCO  01       1     6

In [197]:
dados_anali.query ("mes == '04' and semana == 3").sort_values(by=['qtde'], ascending=False).head(20)

      codigo_negociacao nome_empresa mes  semana  qtde
23695             SBSP3       SABESP  04       3     9
11214             EQTL3   EQUATORIAL  04       3     8
7106              CMIG4        CEMIG  04       3     8
7047              CMIG3        CEMIG  04       3     8
13094             GOAU3   GERDAU MET  04       3     8
952               ALSC3     ALIANSCE  04       3     8
28891             VLID3        VALID  04       3     8
19120             MULT3    MULTIPLAN  04       3     8
6675              CGRA4   GRAZZIOTIN  04       3     8
6559              CGAS5       COMGAS  04       3     8
14231             HGTX3   CIA HERING  04       3     8
16870             LIGT3    LIGHT S/A  04       3     8
6440              CESP6         CESP  04       3     8
6337              CESP3         CESP  04       3     8
18079             MILS3        MILLS  04       3     8
14624             IDNT3    IDEIASNET  04       3     8
8300              CSMG3       COPASA  04       3     8
10204             ECOR3  ECORODOVIAS  04       3     7
22989             ROMI3    INDS ROMI  04       3     7
22605             RENT3     LOCALIZA  04       3     7

In [11]:
resultado_20 = banco['resultado_20']
registros = maiores_20.to_dict(orient='records')
resultado_20.insert_many(registros)
print("dados salvos")

dados salvos

In [14]:
resultado_filtro = banco['resultado_filtro']
registros = df_filtro.to_dict(orient='records')
resultado_filtro.insert_many(registros)
print("dados filtro salvos")

dados filtro salvos

In [15]:
resultado_dados_anali = banco['resultado_dados_anali']
registros = dados_anali.to_dict(orient='records')
resultado_dados_anali.insert_many(registros)
print("dados anali salvos")

dados anali salvos

In [16]:
resultado_merge_nofilter = banco['resultado_merge_nofilter']
registros = df_final.to_dict(orient='records')
resultado_merge_nofilter.insert_many(registros)
print("dados merge sem filtro salvos")

dados merge sem filtro salvos